<div class="container" style="margin-top:5%;margin-bottom: 5%;">
    <h4 style="margin-left:90%;"><a href="/action/logout">logout</a></h4>
    <div class="list-group">
        <a href="/products/create" class="list-group-item list-group-item-dark" aria-current="true">
        Add a new product &nbsp;<i class="fas fa-plus"></i></a>
        <a href="/adminmanage/v" class="list-group-item list-group-item-dark">
        View all products &nbsp;<i class="fas fa-eye"></i></a>
        <a href="" class="list-group-item list-group-item-dark">
        create bills &nbsp;<i class="fas fa-money-bill"></i></a>
    </div>
    
</div>
