<div class="container" style="margin-top:10%;">
  <h3><a href='/adminmanage/v'>go back to view all</a></h3>
  <div class="row">
      <div class="col-4">
        <div class="card" style="width: 18rem;">
            <img src="../{{Products.image}}" class="card-img-top" alt="...">
          </a>
              <div class="card-body">
                <h5 class="card-title">{{Products.pro_name}}</h5>
                <p class="card-text">{{Products.description}}</p>
                {{!-- <a href="/products/{{this.slug}}" class="btn btn-primary">View detail</a> --}}
              </div>
        </div>
      </div>
  </div>
</div>