{{!-- 
    <img src="img/background.jpg"  style="width:100%">

<div class="card-group">
  <div class="card">
    <img src="img/khunglong.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">T-Rex</h5>
      <p class="card-text">$$</p>
      <p class="card-text">This is a t-rex but i dont know what to write about it so i will just leave it like this</p>
      <a href="#" class="btn btn-primary">Buy Now</a>
    </div>
  </div>
  <div class="card">
    <img src="img/woody.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Cowboy-Woody</h5>
      <p class="card-text">$$</p>
      <p class="card-text">this is about cowboy-woody but i dont know what to write about it so i will just leave it like this</p>
      <a href="#" class="btn btn-primary">Buy Now</a>
    </div>
  </div>
  <div class="card">
    <img src="img/buzz.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Buzz-LightYear</h5>
      <p class="card-text">$$</p>
      <p class="card-text">This is Buzz-LightYear but i dont know what to write about it so i will just leave it like this</p>
      <a href="#" class="btn btn-primary">Buy Now</a>
    </div>
  </div>
</div>
<a href="/order">click to order</a>
<a href="/products">click to products</a>
<a href="/news">click tonews</a>
<a href="/reports">click to reports</a> --}}
	
<header>
<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img  src="img/toys-hd-wallpaper.jpg" class="d-block w-100" alt="First slide" height="930">
    </div>
    <div class="carousel-item">
      <img src="img/photo-1558877385-81a1c7e67d72.jpeg" class="d-block w-100" alt="Second slide">
    </div>
    <div class="carousel-item">
      <img  src="img/soft-toys-stuffed-animals-teddy-bear-soft-toy.jpg" class="d-block w-100" alt="Third slide">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
</header>
<h1 class="my-4" style="text-align: center">&nbsp;</h1>
<h1 class="my-4" style="text-align: center"> THE PLACE WHERE ALL CHILDREN NEEDS&nbsp; &nbsp; &nbsp; </h1>
<!-- Navigation -->


   <h1 class="my-4" style="text-align: center">  <button type="button" class="btn btn--primary  uppercase">Shop Now <img src="img/172035980_1107293729750950_335129648493088251_n.png" width="50" height="50" alt=""/></button></h1>
